---
- name: "Run kubeadm reset (1/6)"
  shell: /usr/local/bin/kubeadm reset -f
  ignore_errors: yes

- name: "Stop kubelet service (2/6)"
  systemd:
    name: kubelet
    state: stopped
    enabled: no
  ignore_errors: yes

- name: "Remove Kubernetes binaries (3/6)"
  file:
    path: "/usr/local/bin/{{ item }}"
    state: absent
  loop:
    - kubeadm
    - kubelet
    - kubectl

- name: "Remove kubelet systemd files (4/6)"
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/systemd/system/kubelet.service
    - /etc/systemd/system/kubelet.service.d

- name: "Reload systemd daemon (5/6)"
  systemd:
    daemon_reload: yes

- name: "Remove k8s directories (6/7)"
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/kubernetes
    - /var/lib/kubelet
    - /etc/default/kubelet

- name: "Remove etcd data directory (7/7)"
  ansible.builtin.file:
    path: /var/lib/etcd
    state: absent