---
- name: "Check if cluster is already initialized (-2/10)"
  stat:
    path: /etc/kubernetes/admin.conf
  register: cluster_initialized

- name: "Display skip message if cluster already initialized (-1/10)"
  debug:
    msg: "Cluster already initialized, skipping kubeadm init"
  when: cluster_initialized.stat.exists

- name: "Creates opt/kubernetes directory (0/10)"
  file:
    path: /opt/kubernetes
    state: directory

- name: "Copy audit yaml (0/10)"
  template:
    src: audit.yaml
    dest: /opt/kubernetes/audit.yaml
    mode: 0644

- name: "Create kubeadm init config yaml (1/10)"
  copy:
    content: "{{ kubeadm_config_options | to_nice_yaml }}"
    dest: /tmp/kubeadm-config.yaml
    mode: 0644

- name: "Run kubeadm init with config yaml (2/10)"
  shell: /usr/local/bin/kubeadm init --config=/tmp/kubeadm-config.yaml
  register: rslt
  when: not cluster_initialized.stat.exists

- name: "Store init output (3/10)"
  action: copy content="{{ rslt.stdout }}" dest="/etc/kubernetes/kubeadm-init.stdout"
  when: not cluster_initialized.stat.exists and rslt is defined and rslt.stdout is defined

- name: "Create user .kube folder (4/10)"
  file:
    path: "~/.kube"
    state: directory
    owner: "jgavinray"

- name: "Copy admin.conf to user .kube folder (5/10)"
  copy:
    src: /etc/kubernetes/admin.conf
    dest: "~/.kube/config"
    owner: "jgavinray"
    remote_src: yes

- name: "Create root user .kube folder (6/10)"
  file:
    path: "/root/.kube"
    state: directory
    owner: "root"

- name: "Copy admin.conf to root user .kube folder (7/10)"
  copy:
    src: /etc/kubernetes/admin.conf
    dest: "/root/.kube/config"
    owner: "root"
    remote_src: yes

- name: "Fetching Kubernetes Master PKI files from primary master (8/10)"
  fetch:
    src: /etc/kubernetes/pki/{{item}}
    dest: /tmp/kubeadm-ha/pki/{{item}}
    flat: yes
  with_items:
    - ca.crt
    - ca.key
    - sa.key
    - sa.pub
    - front-proxy-ca.crt
    - front-proxy-ca.key

- name: "Fetching Kubernetes Master ETCD files from primary master (9/10)"
  fetch:
    src: /etc/kubernetes/pki/etcd/{{item}}
    dest: /tmp/kubeadm-ha/pki/etcd/{{item}}
    flat: yes
  with_items:
    - ca.crt
    - ca.key

- name: "Fetching Kubernetes Master Admin files from primary master (10/10)"
  fetch:
    src: /etc/kubernetes/{{item}}
    dest: /tmp/kubeadm-ha/{{item}}
    flat: yes
  with_items:
    - admin.conf