---
- name: "Apply Create ArgoCD Namespace (1/2)"
  shell: /usr/local/bin/kubectl create namespace argocd

- name: "Apply Argo Manifest (2/2)"
  shell: /usr/local/bin/kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/v2.0.4/manifests/install.yaml
