---
- name: "Install Docker (1/2)"
  apt:
    name: docker.io
    state: present
  when: ansible_facts['architecture'] not in ['aarch64', 'arm64']

- name: "Install Docker Daemon Config (2/3)"
  template:
    src: daemon.json
    dest: /etc/docker/daemon.json
  when: ansible_facts['architecture'] not in ['aarch64', 'arm64']

- name: "Start and enable Docker (3/3)"
  systemd:
    state: started
    daemon_reload: yes
    name: docker
    enabled: yes
  when: ansible_facts['architecture'] not in ['aarch64', 'arm64']