---
# Note: kubelet, kubectl, and kubeadm binaries are installed by the k8s-binaries role

- name: "Install required system packages for kubeadm (0/6)"
  apt:
    name:
      - conntrack
      - ethtool
    state: present
    update_cache: yes

- name: "Adjust swapiness for k8s (1/6)"
  lineinfile:
    path: /etc/sysctl.d/k8s.conf
    line: 'vm.swappiness = 0'
    state: present
    create: yes

- name: "Configure vm overcommit_memory (2/6)"
  lineinfile:
    path: /etc/sysctl.d/k8s.conf
    line: 'vm.overcommit_memory = 1'
    state: present
    create: yes

- name: "Add netbridge config ip4 (3/6)"
  lineinfile:
    path: /etc/sysctl.d/k8s.conf
    line: 'net.bridge.bridge-nf-call-iptables = 1'
    state: present
    create: yes

- name: "Increase net ipv4 tcp_max_syn_backlog (4/6)"
  lineinfile:
    path: /etc/sysctl.d/k8s.conf
    line: 'net.ipv4.tcp_max_syn_backlog=2621440'
    state: present
    create: yes


- name: "Apply sysctl configuration (5/6)"
  command: sysctl --system
  changed_when: false

# Note: kubelet is enabled but not started by the k8s-binaries role
# kubeadm init/join will start kubelet when the node joins the cluster