---
users:
  - jgavinray

kubernetes_version: v1.31.3
kubeadm_version: 1.31.3

kubernetes_loadbalanced_api_dns: k8s-api01.domain.local
kubernetes_cluster_label: jgavinray.cloud

# Kubernetes Kubeadm Cluster Configuration
kubeadm_config_options:
    apiVersion: kubeadm.k8s.io/v1beta3
    kind: ClusterConfiguration
    kubernetesVersion: "{{ kubernetes_version }}"
    controlPlaneEndpoint: "192.168.0.25"
    networking:
        podSubnet: 10.244.0.0/16
    clusterName: "{{ kubernetes_cluster_label }}"
#    apiServer:
#      extraArgs:
#        audit-log-path: /var/log/audit.log
#        audit-policy-file: /etc/kubernetes/audit.yaml
#        audit-log-maxage: "1"
#        audit-log-maxsize: "100"
#        audit-log-maxbackup: "1"
#      extraVolumes:
#        - name: audit-policy
#          hostPath: /opt/kubernetes/audit.yaml
#          mountPath: /etc/kubernetes/audit.yaml
#          readOnly: true
#          pathType: File
#        - name: audit
#          hostPath: /tmp/k8s-audit.log
#          mountPath: /var/log/audit.log
#          readOnly: false
#          pathType: FileOrCreate